.DS_Store
.idea
*.log
tmp/
node_modules

*.gif
*.jpg
*.png
*.css
*.js
*.ts
*.tsx
*.jsx
*.md
*.txt
*.html
*.yml
*.yaml
*.json
*.scss
*.svg
*.woff
*.woff2
*.ttf
*.mp3
*.sol
*.ico
*.jpeg
*.exe
*.pdf
*.docx
*.eot
*.otf
